* {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}

body {
	text-align: center;
}

.buttons-holder {
	text-align: left;
	position: absolute;
	right: 0;
}

.buttons-holder label {
	display: block;
	cursor: pointer;
}

.buttons-holder input[type=radio] {
	background-color: transparent;
}

.buttons-holder h3 {
	font-weight: bold;
}

.label {
	font-size: 1.15em;
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;
	fill: rgba(15, 15, 15, 0.72);
}

.unit, .average-text, .legend text, .normal-text {
	font-size: 1em;
	font-weight: bold;
	font-family: 'Open Sans', sans-serif;
	fill: rgba(15, 15, 15, 0.72);
	opacity: 1.0;
}

.zero-line {
	fill: black;
	stroke: black;
	opacity: 1;
	stroke-dasharray: 5,3;
}

.hidden {
	opacity: 0.0
}

.x-axis .domain {
	stroke: rgba(0,0,0,0);
}

.tick text {
	font-size: 1.25em;
	font-weight:bold;
}

.x-axis .tick line {
	stroke-width: 0.2%;
}

.y-axis line, .y-axis path {
	stroke: rgba(162, 162, 162, 0.58);
}

* {
	transition: all 0.4s ease-in-out;
}

path.first-link {
	opacity: 0;
	stroke-width: 6px;
	stroke: rgba(171, 156, 156, 0.82);
}

path.first-link.active {
	opacity: 0.95;
}

.links {
	fill: none;
	stroke-width: 4px;
	stroke: rgba(171, 156, 156, 0.1);
}

.links.active {
	stroke-width: 6px;
	stroke: rgba(171, 156, 156, 0.95);
}

circle.point, circle.legend-point {
	fill: rgba(39, 43, 212, 0.5);
	r: 5px;
	stroke-width: 0px;
	stroke: rgba(39, 43, 212, 0.5);
}

circle.point.ws-winner, circle.legend-point.ws-winner {
	r: 8px;
	stroke: rgba(255, 0, 0, 0.92);
	stroke-width: 0px;
	fill: rgba(255, 0, 0, 0.92);
}

circle.point.active {
	fill: rgba(2, 18, 90, 1);
	stroke: rgba(2, 18, 90, 1);
	stroke-width: 5px;
	opacity: 1;
}

circle.point.active.ws-winner {
	fill: rgba(204, 9, 9, 1);
	stroke: rgba(204, 9, 9, 1);
	stroke-width: 5px;
}

.title {
	font-family: 'Open Sans', sans-serif;
	font-size: 2.15em;
	font-weight: 300;
}

.team-id {
	transform: translate(-50px, 3px);
	fill: rgba(199, 149, 149, 0.75);
	font-size: 1em;
	font-weight: normal;
}
.team-id.active {
	fill: rgba(0,0,0, 1.0);
	font-size: 1.3em;
	font-weight: bold;
}
.team-name {
	font-size: 1.5em;
	opacity: 0;
}
.team-name.active {
	opacity: 1.0;
}

.legend rect {
	fill: none;
	stroke: black;
	stroke-width: 1px;
}

.legend rect {
	fill: none;
}

.team-id-axis.normal-text {
	fill: rgba(15, 15, 15, 0.4);
}

.team-id-arrow {
	fill: rgba(15, 15, 15, 0.4);
	stroke: rgba(15, 15, 15, 0.4);
	opacity: 1;
	stroke-dasharray: 5,1;
}

#arrow {
	fill: rgba(15, 15, 15, 0.6);
}

.team-id-axis.title {
	font-weight: normal;
	font-size: 1em;
	fill: rgba(15, 15, 15, 0.4);
}